@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


.lexend{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.sora{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }



  @layer components{
    .header{
      @apply font-display text-left leading-[56px] tracking-[6px];
    }
  }

::-webkit-scrollbar {
display: none;
}

